<!-- {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "{{.Site.Params.Adsense.client}}",
    enable_page_level_ads: true
  });
</script>
{{ else }}
<div class="row">
  <div class="col-md-11 col-md-offset-1 card">
    <p>Adsense is unavailable while serving on localhost or 127.0.0.1</p>
  </div>
</div>
{{ end }} -->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6266384262623754",
    enable_page_level_ads: true
  });
</script>